.nodot{
    list-style-type: none;
}

body{
    background-image: url(../img/food-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#header{
    opacity: 0.8;
}

#content{
    opacity: 0.8;
}

h1{
    font-weight: bold;
}

h2{
    color: rgba(255, 255, 255, 1);
    font-weight: bold;
}

#footer{
    opacity: 0.8;
}